{
  "extends": "eslint-config-egg",
  "rules": {
    "semi": "off",
    "comma-dangle": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "valid-jsdoc": [
      "error",
      {
        "prefer": {},
        "requireReturn": false,
        "requireReturnType": false
      }
    ],
    "jsdoc/check-tag-names": {
      "definedTags": ["request", "response"]
    }
  }
}
